<main>
    <!-- CIRCLE PROGRESS LOADER -->
    <div class="demo-container">
        <ngx-progress-load
            [value]='progressValue'
            [showStatus]="true">
            <img src="assets/angular.svg" style="width: 3rem; height: 3rem;">
        </ngx-progress-load>

        <ngx-progress-load 
            type="circle"
            [value]='progressValue + 10'
            color="orange">
        </ngx-progress-load>

        <ngx-progress-load
            [value]='progressValue + 20'
            color="green">
        </ngx-progress-load>

        <ngx-progress-load
            [value]='progressValue + 20'
            color="purple"
            [showStatus]="true">
        </ngx-progress-load>

        <ngx-progress-load
            color="blue"
            [infinite]="true">
        </ngx-progress-load>
    </div>

    <!-- SQUARE PROGRESS LOADER -->
    <div class="demo-container" style="margin-top: 3rem;">
        <ngx-progress-load
            type="square"
            [value]='progressValue'
            [showStatus]="true">
            <img src="assets/angular.svg" style="width: 3rem; height: 3rem;">
        </ngx-progress-load>

        <ngx-progress-load 
            type="square"
            [value]='progressValue + 10'
            color="orange">
        </ngx-progress-load>

        <ngx-progress-load
            type="square"
            [value]='progressValue + 20'
            color="green">
        </ngx-progress-load>

        <ngx-progress-load
            type="square"
            [value]='progressValue + 20'
            color="purple"
            [showStatus]="true">
        </ngx-progress-load>

        <ngx-progress-load
            type="square"
            color="blue"
            [infinite]="true">
        </ngx-progress-load>
    </div>
</main>