<main>
    <!-- CIRCLE PROGRESS LOADER -->
    <div class="demo-container">
        <ngx-progress-loader
            [value]='progressValue'
            [showStatus]="true">
            <img src="assets/angular.svg" style="width: 3rem; height: 3rem;">
        </ngx-progress-loader>

        <ngx-progress-loader
            type="circle"
            [value]='progressValue + 10'
            color="orange">
        </ngx-progress-loader>

        <ngx-progress-loader
            [value]='progressValue + 20'
            color="green">
        </ngx-progress-loader>

        <ngx-progress-loader
            [value]='progressValue + 20'
            color="purple"
            [showStatus]="true">
        </ngx-progress-loader>

        <ngx-progress-loader
            color="blue"
            [infinite]="true">
        </ngx-progress-loader>
    </div>

    <!-- SQUARE PROGRESS LOADER -->
    <div class="demo-container" style="margin-top: 3rem;">
        <ngx-progress-loader
            class="custom-color"
            type="square"
            [value]='progressValue'
            [showStatus]="true">
            <img src="assets/angular.svg" style="width: 3rem; height: 3rem;">
        </ngx-progress-loader>

        <ngx-progress-loader
            type="square"
            [value]='progressValue + 10'
            color="orange">
        </ngx-progress-loader>

        <ngx-progress-loader
            type="square"
            [value]='progressValue + 20'
            color="green">
        </ngx-progress-loader>

        <ngx-progress-loader
            type="square"
            [value]='progressValue + 20'
            color="purple"
            [showStatus]="true">
        </ngx-progress-loader>

        <ngx-progress-loader
            type="square"
            color="blue"
            [infinite]="true">
        </ngx-progress-loader>
    </div>
</main>
